.THIS {
    margin-bottom: 10px;
}

.THIS.shadow-effect {
    box-shadow: 0 2px 4px 4px rgba(0,0,0,.16);
}

.THIS.hidden{
    display: none;
}

.THIS .hidden{
    display: none;
}

.THIS .slds-button--brand{
    margin-left: 1rem !important;
}

.THIS .total {
    background: #0070d2;;
    color: white;
}

.THIS .slds-card__body{
    max-width: 100%;
    overflow: auto;
}

.THIS .slds-table--cell-buffer tr>th:last-child{
    padding-right: 0px;
} 

.THIS .slds-table--cell-buffer tr>td:last-chil{
    padding-right: 0px;
}